{% extends 'base.html' %}

{% block head %}
<style type="text/css">
	html {
		font-size: 62.5%;
	}

	body {
		min-height: 100vh;
		font-family: "Montserrat", sans-serif;
		font-size: 1.5rem;
		line-height: 1.5;
		font-weight: 300;
		background: linear-gradient(112deg, #8ae0ff 50%, #ffa86d 50%);
/*			color: #dfdfdf;
		background-color: #000;*/
	}
	.container {
		max-width: 120rem;
		margin: 0 auto;
		padding: 0 6rem 0 6rem;
	}

	.b {
		font-weight: 600;
	}

</style>
{% endblock head %}
	

	
	{% block body %}
	<div class="container">
		<center><h1 class="page-title">ABOUT US</h1></center>
		
		<main>
			<article class="content">
				<section class="content__descriptor">
					<h2 class="content__title">Who We Are</h2>
				</section>
				<section class="content__text-box">
					<p class="content__text">
						Photoliz is a photo editing software that removes unwanted image background and automatically proposes a randomly astonished image background that lets anyone in awe. The software is powered by the artificial intelligence that lets you edit your photo in few seconds.
					</p>
					<p class="content__text">
						Photoliz is a unprecedently seen photo editor software that is built with social media sharing which allows users to share immediately their images to friends and family. Aside for the social sharing feature, you also get an autoresponder just inside the user’s interface which allows you to directly email your images to your clients without leaving your software. And many more amazing features to ease your editing tasks.
					</p>
					<p>
						Photoliz is a continual growth and development software that aims to become one of the leading photo editing software. Photoliz focuses on the growing needs and demands of users because they are the primary stakeholders.
					</p>
				</section>
			</article>
		</main>

		<!-- Mission Statement -->
		<main>
			<article class="content">
				<section class="content__descriptor">
					<h2 class="content__title">Mission Statement</h2>
				</section>
				<section class="content__text-box">
					<p class="content__text">
						Develop a user-friendly software that enables anyone edit their pictures more efficiently. 
					</p>
				</section>
			</article>
		</main>

		<!-- Goals -->
		<main>
			<article class="content">
				<section class="content__descriptor">
					<h2 class="content__title">Goals</h2>
				</section>
				<section class="content__text-box">
					<p class="content__text">
						Photoliz primary goal consists of offering software that help users save time and money while keeping high quality service rendered. 
					</p>
					<p class="content__text">
						The secondary goal is to keep updated our services by adding new features on the existing software; and at the same time creating new software on demand of our customers.  
					</p>
				</section>
			</article>
		</main>

		<!-- Values -->
		<main>
			<article class="content">
				<section class="content__descriptor">
					<h2 class="content__title">Values</h2>
				</section>
				<section class="content__text-box">
					<p class="content__text">
						<b class="b">Innovation:</b> we use the ingenuity of people and the Artificial Intelligence to keep bring new ideas that respond to the need of the market. At Photoliz, we welcome ideas of our peoples and stakeholders. We analyze each and see how we can improve what we are doing. 
					</p>
					<p class="content__text">
						<b class="b">Collaboration:</b> the success of Photoliz is coming from our team working to make it possible. We believe that together we are stronger and for that reason, we count on every individual in the team.
					</p>
					<p>
						<b class="b">Empowering:</b> at Photoliz, we consider each team member as an entrepreneur who takes care his tasks and customers under his portfolio.
					</p>
				</section>
			</article>
		</main>

		<!-- Affiliate Program -->
		<main>
			<article class="content">
				<section class="content__descriptor">
					<h2 class="content__title">Affiliate Program</h2>
				</section>
				<section class="content__text-box">
					<p class="content__text">
						Photoliz is building a community of people with the same passion. We are convinced that alone we can’t make this possible without you. Thus, we are grateful to you for referring our service to your beloved ones. And in return, Photoliz rewards to anyone who brings with him/her someone new who uses our software. 
					</p>
					<p class="content__text">
						We pay out the referral fee not only once, but 24 months if your referee take subscription plan. We do this because we value your contribution and your commitment to make us big. 
					</p>
					<p>
						The referral program is free, and you can join at any time with 10% commission fee for every successful referral.  All you need is to subscribe and create your account to start your journey.
					</p>
				</section>
			</article>
		</main>
	</div>
<br>
	{% endblock body %}
		
	
