<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: rgb(84, 214, 236);">Photoliz</h1>
    <br>
    <P>Image is shared and edited in photoliz </P>
    <a href="http://127.0.0.1:8000/media/{{abc}}">Click</a>
    <!-- <img src="http://127.0.0.1:8000/media/{{abc}}"/> -->
</body>
</html>