{% extends 'base.html' %}
{% load static %}
{% block head %}
<style type="text/css">
	html {
		font-size: 62.5%;
	}

	body {
		min-height: 100vh;
		font-size: 1.5rem;
		line-height: 1.5;
		font-weight: 300;
		background: linear-gradient(112deg, #8ae0ff 50%, #ffa86d 50%);
	}
	.container {
		max-width: 120rem;
		margin: 0 auto;
		padding: 0 6rem 0 6rem;
	}
	.b {
		font-weight: 600;
	}
</style>
{% endblock head %}
	

{% block body %}
<div class="container">
	<center>
		<h1 class="page-title">PRIVACY POLICY</h1>
	</center>
	<h2>HOW DO WE DEAL WITH YOUR UPLOADED IMAGES?</h2>
	<br>
	<ul>
		<li>Your images are secured and treated with confidence.</li>
		<li>Our software is encrypted for your safety. We use your images to remove the unwanted background and then offer you the preferred result to download.</li>
		<li>In any case we share or publish your images with third parties.</li>
	</ul>
	<p>We only use the statistics to keep our system updated on the activities that are being performed. For instance, those statistics help know how many images are uploaded and download in our website in given period.</p>

	<ol>
		<li class="mt-5"><h2>General</h2></li>
		<br>
		<p>The protection of your personal data is very primordial and take of everything piece of information you get from you. We process your data only for the reason we requested for.</p>

		<li class="mt-5"><h2>How do we process your data?</h2></li>
		<br>
		<h2><small>2.1</small> Data received from</h2></p>
		<ul>
			<li>
				<p>When you contact us via email, your data are processed to handle your inquiries.</p>
			</li>
		</ul>

		<h2><small>2.2</small>	Data received for business relationship</h2>
		<ul>
			<li>
				<p>We received your data when you want to seek for a contractual relationship in using our product. We keep your data if your contract still active. Once you decide to end your subscription and close your account, we delete your data in our servers as well.</p>
			</li>
		</ul>

		<h2><small>2.3</small> Data received for Marketing purpose</h2>
		<ul>
			<li>
				<p>The customer opts to sign in our in our newsletter to be kept updated about the new and future products. For this reason, we keep your data and send you regularly updates about our offers.</p>
			</li>
		</ul>

		<li class="mt-5"><h2>Cookies</h2></li>
		<br>
		<p>We use cookies to make your visit to our website attractive and to allow the use of certain features. Cookies are small text files that the website saves on your computer to recognize it (permanent cookies). These may contain information about your use of the website. The information contained in the cookies is used to store the individual selections made by you (e.g. the items you place in a shopping cart) so that they can be retrieved if you leave the page and return to it later. We also use cookies to create non-personalized statistics.</p>
		
		<P>Cookies are automatically accepted by most web browsers. You can prevent this by changing the settings in your browser. You can remove cookies stored on your computer at any time by deleting the temporary internet files. Data processing is based on your consent.</p>
		</ol>
	</div>
	<br>
	<br>
	<br>
{% endblock body %}
